
.contact {
    color: $color2;
    width: 100%;
    min-height: 500px;
    font-family: $font1;
    font-size: 15px;
    color: $font2;
    padding: 100px;
    text-align: left;
    h2:hover{
        font-size: 30px;
    }
}

.qr {
    width: 250px;
    height: 250px;
    min-width: 100px;
    min-height: 100px;
    background-image: url(../img/qr.png);
    background-size: cover;
    background-position: center;
    float: right;
    padding: 100px;

}

.follow {
    
    font-family: $font2;
    font-size: 25px;
    color:$color2;
    margin: 10px;
    text-align: center;
    @extend .fondo;
    width: 100%;
    height: auto;
    a {
        font-size: 60px;
    }
    a:hover{
        color: $color2;
        font-size: 80px;
    }
    
}
